<!DOCTYPE html>
<html lang="en">
<div id="container">
<head>
    		 	<nav>
    <ul>
<div class=header>
  <a href="PatientRegistration" class="button">view PatientRegistration</a>
    <br>
    <br>
  <a href="DoctorRegistration" class="button">DoctorRegistration</a>
    <br>
    <br>
  <a href="viewappointment" class="button">Appointment details</a>
    <br>
    <br>
  <a href="view_department" class="button">Department details</a>
    <br>
    <br>
   <a href="DepartmentRegistration" class="button">DepartmentRegistration</a>
    <br>
    <br>

    <a href="view_doctor" class="button">Doctor list</a>
    <br>
    <br>
    <a href="#" class="button">approve appointments</a>
    <br>
    <br>
    <a href="#" class="button">logout</a>

</div>
    </ul>
    </nav>
    <style>

    </style>
    <body>

</body>


</html>